.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid grey;
&__logo {
    font-size: 34px;
    font-weight: 600;
}
&__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
    &.open {
        display: block;
    }
}
}
.button {
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    font-size: 30px;
    
}
